<h2>Upload New Story</h2>
<%= form_tag(story_create_path) do %>
    <input type="file" name="file"><br>
    <p></p>
    Title: <input type="text" name="title"><br>
    <p></p>
    <formset>
        <legend>Author</legend>
        First name: <input type="text" name="firstname"><br>
        Last name: <input type="text" name="lastname"><br>
    </formset>
    <p></p>
    Genre: <input type="text" name="genre"><br>
    <p></p>
    <%=submit_tag 'Submit', :class => 'btn btn-primary'%>
<% end %>