<!DOCTYPE html>
<html lang="en">
<head>
  <style>
  
  h4 {
    font-family: Oswald, sans-serif;
    line-height: 1.8;
    color: #500000;
    font-weight: 300;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #FFFFFF;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  </style>
</head>
<body>

<div class="container-fluid bg-1 col-10 offset-1">
  <h1 class="margin text-center" style="font-size:60px">Creative Writers of Aggieland</h1>
  <body class="home">
        <div> 
            <h4>Recent Announcements</h3>
            <div>
              <% count = 0 %>
              <% @announcements.reverse_each do |announcement| %>
                <div class="card">
                  <div class="card-body">
                    <p class="card-subtitle text-muted" style="font-size:13px"><%= announcement.created_at.in_time_zone("Central Time (US & Canada)").strftime("%D %I:%M %p") %></p>
                    <p class="card-text"><%= announcement.body %></p>
                    <% if @logged_admin %>
                      <%-#delete announcement%>
                    <% end %>
                  </div>
                </div>
                
                <% count = count + 1 %>
                <% break if count > 2 %>
              <%end %> 
            </div>
        </div>
        
        <% if @logged_admin %>
          
            <div style="padding-top:15px">
              <h5><font size="2">Admin Only: </font>New Announcement</h5>
              
              <form action="/home/new">
                  <div class="form-group">
                      <%= text_area_tag("value", "", rows: 3, class: "form-control") %>
                  </div>
                  <input class="btn btn-primary" type="submit" value="Post">
              </form>
            </div>
        
        <% end %>
        
        <%-# where features stories would go%>
        <%-# if false used to block comment%>
        <% if false %>
          <div style="padding-top: 15px"> 
              <h4>Featured Stories</h3>
              <div>
                <% count = 0 %>
                <%-# featured stories instead of announcements%>
                <% @announcements.reverse_each do |announcement| %>
                  <div class="card">
                    <div class="card-body">
                      <p class="card-subtitle text-muted" style="font-size:13px">time?</p>
                      <h5 class="card-title">Title of Story</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Author</h6>
                      <p class="card-text">Genre: </p>
                      <% if @logged_admin %>
                        <%-#delete feature%>
                      <% end %>
                    </div>
                  </div>
                  
                  <% count = count + 1 %>
                  <% break if count > 2 %>
                <%end %> 
              </div>
          </div>
        <% end %>

  </body>
</div>

