<!DOCTYPE html>
<html>
<head>
<style>
    body {
        font: Montserrat, sans-serif;
        line-height: 1.8;
     }
</style>
</head>

<body>
    
    <div class="col-10 offset-1 container-fluid" style="padding: 10px">
        <div class="row">
            <div class="col text-center">
                <h1>Creative Writers of Aggieland Website Rules</h1>
            </div>
        </div>
        
        <div class="text-center" style="padding:10px"> 
            <% @rules.each do |rule| %>
                <h5 style="padding: 10px; color:dark-gray;"><%= rule.value %></h5>
            <%end %> 
        </div>
    </div>
    
    <% if @logged_admin %>
        
        <div class="col-10 offset-1 container-fluid" style="padding-top:100px">
            <h2><font size="4">Admin Only: </font>Update Rules</h2>
            <small class="form-text text-muted">Pressing Enter starts a new rule.</small>
            
            <form action="/rules/update">
                <div class="form-group">
                    <%= text_area_tag("value", @rules_text, rows: 10, class: "form-control") %>
                </div>
                <input class="btn btn-primary" type="submit" value="Update">
            </form>
        </div>
        
    <% end %>

</body>