<h2>The rules are:</h2>

<div> 
    <% @rules.each do |rule| %>
       <%= rule.value %> 
       <br>
    <%end %> 
</div>


<% if @logged_admin %>
  
    <br><br>
    
    <b>Update Rules</b>
    
    <br><br>
    
    <form action="/rules/update">
          <%= text_area_tag("value", @rules_text, size: '50x10') %>
          <br>
        <input type="submit" value="Perform Update">
    </form>

<% end %>